<div class="topnav">
  <a class="home-nav" href="index.html"></a>
  <a class="topnav-item {% if page.url == '/about.html' %}active{% endif %}" href="/about.html">About</a>
  <a class="topnav-item {% if page.url == '/research.html' %}active{% endif %}" href="/research.html">Research</a>
  <a class="topnav-item {% if page.url == '/resume.html' %}active{% endif %}" href="/resume.html">Resume</a>
  <a class="topnav-item {% if page.url == '/contact.html' %}active{% endif %}" href="/contact.html">Contact me</a>
</div>
